$font-family: 'Roboto',
'sans-serif';

$font-size: 18px;
$line-height: 1.6;
$font-color: #111;

$background: #fff;
$background-grey: #f6f6f6;
$background-gradient: linear-gradient(90deg, #4a61ff, #4fc5ff);


$border-radius: 4px;